<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="jaroslawzielinski" sortOrder="20" translate="label" class="jaroslawzielinski-main">
            <label>Diagnostics</label>
        </tab>

        <section id="jaroslawzielinski_diagnostics" translate="label" sortOrder="20" showInDefault="1" showInStore="1"
            showInWebsite="1">

            <class>separator-top</class>

            <label>Diagnostics</label>

            <tab>jaroslawzielinski</tab>

            <resource>JaroslawZielinski_Diagnostics::configuration</resource>

            <group id="settings" translate="label comment" type="text" sortOrder="10" showInDefault="1"
                showInStore="1" showInWebsite="1">
                <label>Settings</label>

                <field id="store_teller_enable" translate="label comment" type="select" sortOrder="10" showInDefault="1"
                    showInWebsite="1" showInStore="1">
                    <label>Store teller enable</label>
                    <comment><![CDATA[Enable store teller in footer. ]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="popup_min_width" translate="label" type="text" sortOrder="20" showInDefault="1"
                    showInWebsite="1" showInStore="1">
                    <label>Popup min width</label>

                    <depends>
                        <field id="store_teller_enable">1</field>
                    </depends>
                </field>

                <!-- @see https://webkul.com/blog/add-color-picker-magento2-system-config/ -->
                <field id="button_color" translate="label" type="text" sortOrder="30" showInDefault="1"
                    showInWebsite="1" showInStore="1">
                    <label>Button Colour</label>

                    <frontend_model>JaroslawZielinski\Diagnostics\Block\Colour</frontend_model>

                    <depends>
                        <field id="store_teller_enable">1</field>
                    </depends>
                </field>

                <field id="button_background" translate="label" type="text" sortOrder="40" showInDefault="1"
                    showInWebsite="1" showInStore="1">
                    <label>Button Background</label>

                    <frontend_model>JaroslawZielinski\Diagnostics\Block\Colour</frontend_model>

                    <depends>
                        <field id="store_teller_enable">1</field>
                    </depends>
                </field>

                <field id="popup_color" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1"
                    showInStore="1">
                    <label>Popup Colour</label>

                    <frontend_model>JaroslawZielinski\Diagnostics\Block\Colour</frontend_model>

                    <depends>
                        <field id="store_teller_enable">1</field>
                    </depends>
                </field>

                <field id="popup_background" translate="label" type="text" sortOrder="60" showInDefault="1"
                    showInWebsite="1" showInStore="1">
                    <label>Popup Background</label>

                    <frontend_model>JaroslawZielinski\Diagnostics\Block\Colour</frontend_model>

                    <depends>
                        <field id="store_teller_enable">1</field>
                    </depends>
                </field>

                <attribute type="expanded">0</attribute>
            </group>

            <group id="progress_bar" translate="label comment" type="text" sortOrder="20" showInDefault="1"
                showInStore="1" showInWebsite="1">
                <label>Progress Bar</label>

                <field id="format" translate="label comment" type="select" sortOrder="10" showInDefault="1"
                    showInStore="0" showInWebsite="0">
                    <label>Progress Bar Format</label>
                    <comment><![CDATA[Available formats: <br/>
<strong>normal</strong> - <i>%current%/%max% [%bar%] %percent:3s%%</i>,<br/>
<strong>normal_nomax</strong> - <i>%current% [%bar%]</i>,<br/>
<strong>verbose</strong> - <i>%current%/%max% [%bar%] %percent:3s%% %elapsed:6s%</i>,<br/>
<strong>verbose_nomax</strong> - <i>%current% [%bar%] %elapsed:6s%</i>,<br/>
<strong>very_verbose</strong> - <i>%current%/%max% [%bar%] %percent:3s%% %elapsed:6s%/%estimated:-6s%</i>,<br/>
<strong>very_verbose_nomax</strong> - <i>%current% [%bar%] %elapsed:6s%</i>,<br/>
<strong>debug</strong> - <i>%current%/%max% [%bar%] %percent:3s%% %elapsed:6s%/%estimated:-6s% %memory:6s%</i>,<br/>
<strong>debug_nomax</strong> - <i>%current% [%bar%] %elapsed:6s% %memory:6s%</i>
]]></comment>
                    <source_model>JaroslawZielinski\Diagnostics\Model\Config\Source\Format</source_model>
                </field>

                <attribute type="expanded">0</attribute>
            </group>
        </section>
    </system>
</config>
